body {
    font-family: Arial;
    margin: 20px;
}

section {
    margin-bottom: 40px;
}

a {
    color: white;
    text-decoration: none;
}


/* TASK 0 - FLEXBOX */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background: black;
    color: white;
}

.navbar nav {
    display: flex;
    gap: 20px;
}


/* TASK 1 - FLEXBOX */

.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 10px;
    border: 1px solid black;
}

.card img {
    width: 100%;
}

.card button {
    margin-top: auto;
}

.card:hover {
    transform: scale(1.03);
}


/* TASK 2 - GRID */

.layout {
    display: grid;

    grid-template-columns: 200px 1fr;

    grid-template-rows: 60px 150px 50px;

    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

.layout header {
    grid-area: header;
    background: black;
    color: white;
    text-align: center;
}

.layout aside {
    grid-area: sidebar;
    background: lightgray;
    padding: 10px;
}

.layout main {
    grid-area: main;
    padding: 10px;
}

.layout footer {
    grid-area: footer;
    background: black;
    color: white;
    text-align: center;
}


/* TASK 3 - GRID */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery div {
    position: relative;
}

.gallery img {
    width: 100%;
    display: block;
}

.gallery span {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background: black;
    color: white;

    text-align: center;

    opacity: 0;
}

.gallery div:hover span {
    opacity: 1;
}


/* TASK 4 - FLEXBOX + GRID */

.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background: black;
    color: white;
}

.portfolio-header nav {
    display: flex;
    gap: 20px;
}


.portfolio-main {
    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 20px;

    padding: 20px;
}


.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


.project {
    display: flex;
    flex-direction: column;

    padding: 15px;
    background: lightgray;
}

.project button {
    margin-top: auto;
}


.portfolio footer {
    padding: 20px;
    background: black;
    color: white;
    text-align: center;
}